<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>안녕하세요. 저는 차명진입니다. 중문과를 전공으로 졸업한 후, Ezen컴퓨터학원에서 수료 한 후,
           FRONTEND와 BACKEND에 대한 높은 열정과 관심을 가지고 있습니다.</p>
      </div>
      <div class="col-lg-4">
        <p>저는 JAVA에 관해서 최신 동향과 기술을 항상 살펴보며, JAVA를 이용하여
          많은것을 경험하였습니다.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        
      </div>
    </div>
  </div>
</section>
